<div class="container">
  <ng-container *ngIf="(data$ | async) as data">
    <ng-container *ngFor="let fund of data.data">
      <div class="fund-card">
        <div class="fund-text">
          <div class="fund-name">
            {{ fund.fundName }}
          </div>
          <div class="fund-company">
            {{ fund.fundCompany }}
          </div>
          <div class="fund-type">
            {{ fund.fundType }}
          </div>
        </div>
        <div class="fund-numbers">
          <div class="change 1m">
            <p>1mth</p>
            <div>{{ fund.change1m || 'N/A'}}</div>
          </div>
          <div class="change 3m">
            <p>3mth</p>
            <div>{{ fund.change3m || 'N/A'}}</div>
          </div>
          <div class="change 1y">
            <p>1yr</p>
            <div>{{ fund.change1y || 'N/A'}}</div>
          </div>
          <div class="change 3y">
            <p>3yr</p>
            <div>{{ fund.change3y || 'N/A'}}</div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
