* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  --neutral-color: #dcc;
  --positive-color: #00d92b;
  --negative-color: #ff2553;
  --link-color: #779dfb;
  --shadow:#eee1;
  --card-bg: #0d0e13;
  --secondary: #a7a8a3;
  --white: #fff;
  --body-bg: #12161f;
}

body {
  background-color: var(--body-bg);
}
